/* full erasure */
.overlappingDiv {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

@keyframes overlapToBottom {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}



/* one symbol erasure */
.last-symbol-under-input {
    position: absolute;
}

@keyframes symbolGoesUp {
    0% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: -40px;
        opacity: 0;
    }
}



/* side-bar */
@keyframes sidebarMovingLeft {
    0% {
        left: 100vw;
    }
    100% {
        left: calc(100vw - 400px)
    }
}
@keyframes btnMovingLeft {
    0% {
        right: 0;
    }
    100% {
        right: 340px;
    }
}

@keyframes sidebarMovingRight {
    0% {
        left: calc(100vw - 400px)
    }
    100% {
        left: 100vw;
    }
}
@keyframes btnMovingRight {
    0% {
        right: 340px;
    }
    100% {
        right: 0;
    }
}